<div class="container">
  <h1>Put in a word, dogg</h1>
  <form action="/" method="post">
    <input type="text" name="user_input">
    <input type="submit" value="Anagramize it!">
  </form>

  <%= erb :result if @results %>
</div>
